*
{
    margin: 0;
    padding: 0;
}
header
{
    width: 100%;
    height: 100vh;
    background: url(images/web.s.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
nav{
    width: 1200px;
    height: 80px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul
{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}
nav ul li
{
    margin: right 40px; 
    font-family: arial;
    font-weight: bold;
    color: aquamarine;
    cursor: pointer;

}
button
{
    width: 120px;
    height: 3pc;
    background-color: #ce5d44;
    border-radius: 5px;
    cursor: pointer;
    border: rgb(184, 255, 173);
    font-size: 16px ;
    font-family: arial;
    font-weight: bold;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    color: #fff;

}
.button.button:hover
{
    background-color: #fff;
    color: #ce5d44;

}
.container
{
    width: 1200px;
    height: auto;
    color: #fff;
    margin: 10px;
    
}
.container button
{
  background-color: rgb(92, 22, 184);
  font-style: italic;
  margin-top: 20px;
}
.container button:hover
{
  background-color: #fff;
  color: rgb(92, 22, 184);

}
header .container h1
{
  font-family:arial;
  font-size:40px;
  font-weight: bold;
  padding-top: 100px;
  
}
.container h1
{
    display: inline-block;
    margin: 0 0.5rem;
  
    animation: bounce; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 2s;
}
.center{
    position: absolute;
    top: 25%;
    left: 65%;
    transform:translate(5%);
    width: 350px;
    background: transparent;
    border-radius: 10px;
}
.center h2{
    text-align: center;
    padding: 0 0 20px 0;
    color: #fff;
    font-size: 35px;
    font-weight: bold;
    border-bottom: 1px solid rgb(102, 2, 163);
}
.center form{
    padding: 0 40px;
    box-sizing: border-box;
}
form .txt_field{
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 25px 0;
}
.txt_field input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 10px;
    border: none;
    background: none;
    outline: none;
    color: #fff;
}
.txt_field label{
    position:absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
}
.txt_field span::before{
    content: '';
    background:#fff;
    transition: .5s;
}
.txt_field input:focus ~ label,
.txt_field input:valid ~ label{
    top: -5px;
    color:#fff ;
}
.txt_field input:focus ~ span::before,
.txt_field input:valid ~ span::before{
    width: 100%;
}
.pass{
    margin: -5px 0 20px 5px;
    color: #fff;
    padding: 2px;
    cursor: pointer;
}
.pass:hover{
    text-decoration: underline;
}
input{
    background-color: rgb(102, 2, 163) ;
    color: black;

    border-radius: 5px;
    box-shadow: 0 0 5px rgb(102, 2, 163) ,
                0 0 25px rgb(102, 2, 163) ,
                0 0 50px rgb(102, 2, 163) ,
                0 0 100px rgb(102, 2, 163) ;
}
input[type="submit"]{
    width: 100%;
    height: 45px;
    border: 1px solid;
    border-radius: 15px;
    font-size: 15px;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
    outline: none;
}
input[type="submit"]:hover{
    background-color: #fff;
    color: rgb(102, 2, 163) ;
    transition: .5s;
}
.signup_link:hover {
    color: #fff;
    cursor: pointer;
    text-decoration: underline;
}
.signup_link a{
    color: #44ce4b;
}

